* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.sq {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
}

#text {
    position: absolute;
    top: 300px;
    left: 30px;
    border: 1px solid turquoise;
}